<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Smart_Krishi_Sahayak_Rural_Farming_Assistant_System</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Admin_Login</display-name>
    <servlet-name>Admin_Login</servlet-name>
    <servlet-class>Smart_Krishi_Sahayak.Admin_Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_Login</servlet-name>
    <url-pattern>/Admin_Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add_Krishi_Expert</display-name>
    <servlet-name>Add_Krishi_Expert</servlet-name>
    <servlet-class>Smart_Krishi_Sahayak.Add_Krishi_Expert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_Krishi_Expert</servlet-name>
    <url-pattern>/Add_Krishi_Expert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Farmer_Login</display-name>
    <servlet-name>Farmer_Login</servlet-name>
    <servlet-class>Smart_Krishi_Sahayak.Farmer_Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Farmer_Login</servlet-name>
    <url-pattern>/Farmer_Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Farmer_Register</display-name>
    <servlet-name>Farmer_Register</servlet-name>
    <servlet-class>Smart_Krishi_Sahayak.Farmer_Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Farmer_Register</servlet-name>
    <url-pattern>/Farmer_Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add_Govt_Scheme</display-name>
    <servlet-name>Add_Govt_Scheme</servlet-name>
    <servlet-class>Smart_Krishi_Sahayak.Add_Govt_Scheme</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_Govt_Scheme</servlet-name>
    <url-pattern>/Add_Govt_Scheme</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add_Crop_Information</display-name>
    <servlet-name>Add_Crop_Information</servlet-name>
    <servlet-class>Smart_Krishi_Sahayak.Add_Crop_Information</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_Crop_Information</servlet-name>
    <url-pattern>/Add_Crop_Information</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add_Fertilizer_Recommendations</display-name>
    <servlet-name>Add_Fertilizer_Recommendations</servlet-name>
    <servlet-class>Smart_Krishi_Sahayak.Add_Fertilizer_Recommendations</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_Fertilizer_Recommendations</servlet-name>
    <url-pattern>/Add_Fertilizer_Recommendations</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Book_Appointment_With_Expert</display-name>
    <servlet-name>Book_Appointment_With_Expert</servlet-name>
    <servlet-class>Smart_Krishi_Sahayak.Book_Appointment_With_Expert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Book_Appointment_With_Expert</servlet-name>
    <url-pattern>/Book_Appointment_With_Expert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Expert_Login</display-name>
    <servlet-name>Expert_Login</servlet-name>
    <servlet-class>Smart_Krishi_Sahayak.Expert_Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Expert_Login</servlet-name>
    <url-pattern>/Expert_Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Write_Report</display-name>
    <servlet-name>Write_Report</servlet-name>
    <servlet-class>Smart_Krishi_Sahayak.Write_Report</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Write_Report</servlet-name>
    <url-pattern>/Write_Report</url-pattern>
  </servlet-mapping>
</web-app>